.works{
    @include container();
    margin-top: 60px;
    &__inner{
        background-color: $color_gray_light;
        border-radius: 5px;
        padding: 0 20px 80px;
        display: flex;
        justify-content: center;
        @include responsive("tb") {
            padding: 0 20px 60px;
        }
    }
    &__box{
        display: inline-block;
        max-width: 840px;
        width: 100%;
        margin-top: -26px;
        @include responsive("tb") {
            margin-top: -21px;
        }
    }
    &-me{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        margin-top: 50px;
        margin-bottom: 70px;
        @include responsive("tb") {
            flex-wrap: wrap-reverse;
        }
        @include responsive("smp") {
            margin-bottom: 50px;
        }
        &__desc{
            width: 370px;
            @include responsive("tb") {
                width: 100%;
            }
        }
        &__name{
            margin-bottom: 30px;
            @include responsive("tb") {
                margin-bottom: 20px;
            }
            &-sub{
                font-size: 13px;
                font-weight: 700;
                line-height: 1;
                letter-spacing: 0.13em;
                margin-bottom: 12px;
                @include responsive("smp") {
                    font-size: 11px;
                    margin-bottom: 16px;
                }
            }
            &-main{
                font-size: 33px;
                font-weight: 700;
                letter-spacing: 0.11em;
                line-height: 1;
                font-family: 'Roboto Mono', monospace;
                @include responsive("tb") {
                    font-size: 28px
                }
            }
        }
        &__list{
            display: flex;
            align-items: flex-start;
            gap: 10.8108108%;
            & p{
                line-height: 2.333333;
                @include responsive("smp") {
                    font-size: 13px;
                }
            }
        }
        &__image{
            width: 45.2380952%;
            @include responsive("tb") {
                width: 100%;
                margin-bottom: 30px;
            }
            & img{
                border-radius: 15px;
            }
        }
    }
    &-text{
        &>p{
            margin-bottom: 15px;
            @include responsive("smp") {
                font-size: 13px;
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    &-profile{
        display: flex;
        flex-wrap: wrap;
        margin: 100px 0 70px;
        @include responsive("smp") {
            margin: 70px 0;
        }
        &__box{
            width: 33.333333%;
            @include responsive("pc") {
                width: 50%;
                display: flex;
                align-items: flex-start;
            }
            @include responsive("tb") {
                width: 100%;
            }
            &>h3{
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 20px;
                width: 100px;
                @include responsive("tb") {
                    width: 33.333333%;
                }
                @include responsive("smp") {
                    font-size: 13px;
                }
                &>svg{
                    margin-right: 8px;
                    width: 16.5px;
                    height: 16.925px;
                    @include responsive("smp") {
                        width: 14.55px;
                        height: 14.92px;
                    }
                }
            }
            &>ul{
                @include responsive("pc") {
                    padding-left: 6.37%;
                }
                @include responsive("tb") {
                    width: 66.666666%;
                }
                &>li{
                    font-size: 14px;
                    padding-left: 15px;
                    position: relative;
                    @include responsive("smp") {
                        font-size: 12px;
                    }
                    &::before{
                        content: "";
                        position: absolute;
                        width: 2px;
                        height: 2px;
                        border-radius: 9999px;
                        background: #000;
                        left: 0;
                        top: 12px;
                    }
                }
            }
            &:nth-child(1){
                padding: 0 3.572% 3.572% 0;
                background-image : radial-gradient($color_gray 30%, transparent 30%),radial-gradient($color_gray 30%, transparent 30%);
                background-size: 6px 6px;
                background-repeat: repeat-x, repeat-y;
                background-position: left bottom, right bottom;
                @include responsive("tb") {
                    background-image: none;
                    padding: 0 0 4.361% 0;
                }
            }
            &:nth-child(2){
                padding: 0 3.572% 3.572%;
                background-image : radial-gradient($color_gray 30%, transparent 30%),radial-gradient($color_gray 30%, transparent 30%);
                background-size: 6px 6px;
                background-repeat: repeat-x, repeat-y;
                background-position: left bottom, right bottom;
                @include responsive("pc") {
                    background-image : radial-gradient($color_gray 30%, transparent 30%);
                    background-size: 6px 6px;
                    background-repeat: repeat-x;
                    background-position: left bottom;
                }
                @include responsive("tb") {
                    background-image: none;
                    padding: 4.361% 0 4.361% 0;
                }
            }
            &:nth-child(3){
                padding: 0 0 3.572% 3.572%;
                background-image : radial-gradient($color_gray 30%, transparent 30%);
                background-size: 6px 6px;
                background-repeat: repeat-x;
                background-position: left bottom;
                @include responsive("pc") {
                    padding: 3.572% 3.572% 3.572% 0;
                    background-image : radial-gradient($color_gray 30%, transparent 30%),radial-gradient($color_gray 30%, transparent 30%);
                    background-size: 6px 6px;
                    background-repeat: repeat-x, repeat-y;
                    background-position: left bottom, right bottom;
                }
                @include responsive("tb") {
                    background-image: none;
                    padding: 4.361% 0 4.361% 0;
                }
            }
            &:nth-child(4){
                padding: 3.572% 3.572% 0 0;
                background-image : radial-gradient($color_gray 30%, transparent 30%);
                background-size: 6px 6px;
                background-repeat: repeat-y;
                background-position: right bottom;
                @include responsive("pc") {
                    padding: 3.572% 0 3.572% 3.572%;
                    background-image : radial-gradient($color_gray 30%, transparent 30%);
                    background-size: 6px 6px;
                    background-repeat: repeat-x;
                    background-position: left bottom;
                }
                @include responsive("tb") {
                    background-image: none;
                    padding: 4.361% 0 4.361% 0;
                }
            }
            &:nth-child(5){
                padding: 3.572% 3.572% 0;
                background-image : radial-gradient($color_gray 30%, transparent 30%);
                background-size: 6px 6px;
                background-repeat: repeat-y;
                background-position: right bottom;
                @include responsive("pc") {
                    padding: 3.572% 3.572% 0 0;
                }
                @include responsive("tb") {
                    background-image: none;
                    padding: 4.361% 0 0 0;
                }
            }
        }
    }
    &-favo{
        padding-bottom: 80px;
        margin-bottom: 80px;
        border-bottom: 1px solid $color_black;
        @include responsive("smp") {
            padding-bottom: 70px;
            margin-bottom: 70px;
        }
        &__box{
            padding: 50px;
            border: 1px solid $color_gray;
            @include responsive("tb") {
                padding: 25px;
            }
            &>p{
                margin-bottom: 30px;
                @include responsive("tb") {
                    margin-bottom: 15px;
                }
                @include responsive("smp") {
                    font-size: 12px;
                }
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
    &-skill{
        display: flex;
        flex-wrap: wrap;
        gap: 40px 0;
        margin: 60px 0 0;
        @include responsive("smp") {
            gap: 30px 0;
            margin: 40px 0 0;
        }
        &__box{
            width: 25%;
            display: flex;
            justify-content: center;
            @include responsive("pc") {
                width: 33.333333%;
            }
            @include responsive("smp") {
                width: 50%;
            }
        }
    }
}