@charset "UTF-8";
/*
 * HTML
 * -------------------------------------------------------------------
 */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap");
html {
  font-size: 62.5%;
}

body {
  font-family: "Avenir", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans", "ヒラギノ角ゴシック", YuGothic, "Yu Gothic", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.5rem;
  line-height: 2;
  letter-spacing: 0.08em;
  background-color: #ffffff;
  color: #000000;
  position: relative;
}

a {
  text-decoration: none;
  outline: none;
}

/*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  display: inline-block;
  width: 100%;
  height: auto;
  vertical-align: middle;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/*
 * Mixin
 * -------------------------------------------------------------------
 */
/*
 * Module
 * -------------------------------------------------------------------
 */
#top .header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}
#top .header #header-nav > ul > li > a {
  color: #ffffff;
  opacity: 1;
}
#top .header #header-nav > ul > li > a:hover {
  opacity: 0.4;
}
#top .header #header-nav > ul > li > a:active {
  opacity: 0.4;
}
#top .header #header-toggle > span {
  background-color: #ffffff;
}

#about > .header #header-nav > ul > li > a,
#works > .header #header-nav > ul > li > a {
  color: #000000;
  opacity: 0.4;
}
#about > .header #header-nav > ul > li > a:hover,
#works > .header #header-nav > ul > li > a:hover {
  opacity: 1;
}
#about > .header #header-nav > ul > li > a:active,
#works > .header #header-nav > ul > li > a:active {
  opacity: 1;
}
#about > .header #header-toggle > span,
#works > .header #header-toggle > span {
  background-color: #000000;
}

.header {
  width: 100%;
}
.header__container {
  height: 80px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
@media screen and (max-width: 960px) {
  .header__container {
    height: 60px;
  }
}
.header__logo svg {
  width: 153px;
  height: 23px;
}
@media screen and (max-width: 960px) {
  .header #header-nav {
    display: none;
    background-color: #F8F8F8;
    max-width: calc(100vw - 40px);
    width: 100%;
    position: absolute;
    top: 120px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center;
    z-index: 1004;
    height: auto;
    overflow: scroll;
    max-height: 100vh;
    padding: 30px 0;
    overflow: hidden;
  }
}
.header #header-nav > ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: auto;
  height: 100%;
}
@media screen and (max-width: 960px) {
  .header #header-nav > ul {
    display: block;
    padding: 0;
    width: 100%;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
  }
}
.header #header-nav > ul > li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 15px 15px 15px 15px;
}
.header #header-nav > ul > li:last-child {
  padding: 15px 0 15px 15px;
}
@media screen and (max-width: 960px) {
  .header #header-nav > ul > li:last-child {
    padding: 0;
  }
}
@media screen and (max-width: 960px) {
  .header #header-nav > ul > li {
    width: 100%;
    padding: 0;
  }
}
.header #header-nav > ul > li > a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  font-family: "Roboto Mono", monospace;
  letter-spacing: 0.15em;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
@media screen and (max-width: 960px) {
  .header #header-nav > ul > li > a {
    height: auto;
    display: block;
    width: 100%;
    font-size: 15px;
    line-height: 1.2;
    padding: 15px 0;
    color: #000000;
  }
}
.header #header-toggle {
  display: none;
  position: relative;
  width: 26px;
  height: 24px;
  z-index: 1004;
}
@media screen and (max-width: 960px) {
  .header #header-toggle {
    display: block;
  }
}
.header #header-toggle span {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.header #header-toggle span:nth-child(1) {
  top: 0;
}
.header #header-toggle span:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.header #header-toggle span:nth-child(3) {
  bottom: 0;
}
.header #header-toggle.act span:nth-child(1) {
  -webkit-transform: translateY(11px) rotate(-45deg);
          transform: translateY(11px) rotate(-45deg);
}
.header #header-toggle.act span:nth-child(2) {
  display: none;
}
.header #header-toggle.act span:nth-child(3) {
  -webkit-transform: translateY(-11px) rotate(45deg);
          transform: translateY(-11px) rotate(45deg);
}
.header #header-bg {
  display: none;
  opacity: 0.5;
  z-index: 1002;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
}

#hero {
  width: 100%;
  margin: 0 auto;
  position: relative;
  max-height: calc(100vh - 60px);
  min-height: calc(100vh - 60px);
}
#hero .bx-wrapper {
  width: 100%;
  height: calc(100vh - 60px);
  position: absolute;
  top: 0;
  left: 0;
}
#hero .bx-wrapper .bx-viewport {
  width: 100% !important;
  height: 100% !important;
  overflow: hidden;
  position: relative;
}
#hero .bx-wrapper .bx-viewport .bg-slide {
  width: 100% !important;
  height: 100% !important;
}
#hero .bx-wrapper .bx-viewport .bg-slide > li {
  width: 100% !important;
  height: 100% !important;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.top-heading__main {
  font-size: 43px;
  font-weight: 600;
  letter-spacing: 0.11em;
  line-height: 1;
  font-family: "Josefin Sans", sans-serif;
}
@media screen and (max-width: 520px) {
  .top-heading__main {
    font-size: 30px;
  }
}
.top-heading__sub {
  line-height: 1;
  letter-spacing: 0.13em;
  font-weight: 700;
  margin-top: 12px;
  padding-left: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(#000));
  background-image: -webkit-linear-gradient(top, #000 0%, #000 100%);
  background-image: linear-gradient(to bottom, #000 0%, #000 100%);
  background-repeat: no-repeat;
  background-position: 0 0.4em;
  background-size: 10px 2px;
}
@media screen and (max-width: 520px) {
  .top-heading__sub {
    font-size: 12px;
    font-weight: 500;
    margin-top: 13px;
    background-size: 10px 1px;
  }
}

.page-heading {
  font-size: 52px;
  font-weight: 600;
  letter-spacing: 0.13em;
  line-height: 1;
  font-family: "Josefin Sans", sans-serif;
  color: #999999;
}
@media screen and (max-width: 520px) {
  .page-heading {
    font-size: 43px;
  }
}

.btn-01 {
  display: block;
  font-size: 1.4rem;
  padding: 12px 40px;
  max-width: 220px;
  border: 2px solid #000000;
  line-height: 1;
  text-align: center;
  border-radius: 22px;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .btn-01 {
    max-width: 100%;
  }
}
@media screen and (max-width: 520px) {
  .btn-01 {
    font-size: 1.3rem;
  }
}
.btn-01::after {
  content: "";
  border-radius: 22px;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #999999;
  opacity: 0.2;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
  transition: -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.btn-01:hover::after {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.btn-01:active::after {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.btn-01__arrow {
  width: 19px;
  height: 9px;
  position: absolute;
  top: calc(50% - 4.5px);
  right: 16px;
  background: url(../img/base/arrow-01.svg) no-repeat 100% 50%;
  background-size: auto 100%;
}

.btn-02 {
  display: block;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 22px 0;
  max-width: 370px;
  border: 2px solid #000000;
  background-color: #ffffff;
  line-height: 1;
  text-align: center;
  border-radius: 10px;
  position: relative;
  margin: 0 auto;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.btn-02:hover {
  -webkit-box-shadow: 0px 8px 16px -2px rgba(10, 10, 10, 0.1), 0px 3px 6px 3px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 8px 16px -2px rgba(10, 10, 10, 0.1), 0px 3px 6px 3px rgba(0, 0, 0, 0.08);
}
.btn-02:active {
  -webkit-box-shadow: 0px 8px 16px -2px rgba(10, 10, 10, 0.1), 0px 3px 6px 3px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 8px 16px -2px rgba(10, 10, 10, 0.1), 0px 3px 6px 3px rgba(0, 0, 0, 0.08);
}
@media screen and (max-width: 768px) {
  .btn-02 {
    max-width: 350px;
    font-size: 1.3rem;
    padding: 15px 0;
  }
}

.chart {
  position: relative;
  display: inline-block;
  width: 160px;
  height: 160px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .chart {
    width: 130px;
    height: 130px;
  }
}
@media screen and (max-width: 520px) {
  .chart {
    width: 110px;
    height: 110px;
  }
}
.chart-back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 6px solid #CDCDCD;
  border-radius: 50%;
}
@media screen and (max-width: 520px) {
  .chart-back {
    border: 3px solid #CDCDCD;
  }
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.chart-label {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.chart-label svg {
  height: 27px;
  margin-bottom: 8px;
}
@media screen and (max-width: 768px) {
  .chart-label svg {
    height: 24px;
    margin-bottom: 6px;
  }
}
@media screen and (max-width: 520px) {
  .chart-label svg {
    height: 20px;
  }
}
.chart-label span {
  font-size: 12px;
  font-weight: 700;
}
@media screen and (max-width: 520px) {
  .chart-label span {
    font-size: 11px;
  }
}

.card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  .card {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 15px 1%;
  }
}
@media screen and (max-width: 768px) {
  .card {
    gap: 10px 1%;
  }
}
.card-item {
  width: 33.333333%;
  padding: 1.786%;
}
@media screen and (max-width: 768px) {
  .card-item {
    width: 49%;
    padding: 0;
  }
}
.card-item a {
  position: relative;
}
.card-item a::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.card-item a:hover .card__desc {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.card-item a:hover::after {
  opacity: 1;
}
.card__image {
  display: block;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-bottom: 100%;
  border-radius: 5px;
}
.card__image img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.card__desc {
  position: absolute;
  max-width: 260px;
  width: 100%;
  padding: 0 7.366%;
  bottom: -10%;
  left: 50%;
  -webkit-transform: translate(-50%, -20%);
          transform: translate(-50%, -20%);
  z-index: 1;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .card__desc {
    bottom: 0;
  }
}
.card__desc-main {
  font-weight: 700;
  line-height: 1;
  margin-bottom: 10px;
  color: #ffffff;
}
@media screen and (max-width: 520px) {
  .card__desc-main {
    margin-bottom: 6px;
    font-size: 12px;
  }
}
.card__desc-sub {
  font-size: 13px;
  line-height: 1;
  color: #ffffff;
}
@media screen and (max-width: 520px) {
  .card__desc-sub {
    font-size: 12px;
  }
}

.contact {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 200px;
}
@media screen and (max-width: 520px) {
  .contact {
    margin-top: 120px;
  }
}
.contact__inner {
  background-color: #F8F8F8;
  padding: 0 20px 70px;
  border-radius: 5px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .contact__inner {
    padding: 0 20px 40px;
  }
}
.contact__box {
  display: inline-block;
  margin-top: -26px;
}
@media screen and (max-width: 768px) {
  .contact__box {
    margin-top: -21px;
  }
}
.contact__heading {
  font-size: 52px;
  font-weight: 600;
  letter-spacing: 0.13em;
  line-height: 1;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .contact__heading {
    font-size: 43px;
    margin-bottom: 25px;
  }
}
.contact__btn {
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .contact__btn {
    margin-bottom: 25px;
  }
}
.contact__text {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .contact__text {
    font-size: 1.2rem;
  }
}

.footer {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 200px;
  margin-bottom: 40px;
}
@media screen and (max-width: 520px) {
  .footer {
    margin-top: 70px;
  }
}
.footer__image {
  margin-bottom: 15px;
}
.footer__image > a {
  display: block;
}
@media screen and (max-width: 768px) {
  .footer__image > a {
    text-align: center;
  }
}
.footer__image > a > svg {
  width: 140px;
  height: 21px;
}
@media screen and (max-width: 520px) {
  .footer__image > a > svg {
    width: 119px;
    height: 18px;
  }
}
.footer__image svg {
  width: 147px;
  height: 36px;
}
.footer__desc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .footer__desc {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  .footer__menu {
    width: 100%;
    margin-bottom: 15px;
  }
}
.footer__menu > ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: auto;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .footer__menu > ul {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer__menu > ul > li {
  padding: 0 15px;
}
.footer__menu > ul > li:nth-child(1) {
  padding: 0 15px 0 0;
}
.footer__menu > ul > li > a {
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  font-family: "Roboto Mono", monospace;
  letter-spacing: 0.15em;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.footer__menu > ul > li > a:hover {
  opacity: 0.4;
}
.footer__menu > ul > li > a:active {
  opacity: 0.4;
}
.footer__copy {
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
}
@media screen and (max-width: 768px) {
  .footer__copy {
    width: 100%;
    text-align: center;
    font-size: 11px;
  }
}

/*
 * Fonts
 * -------------------------------------------------------------------
 */
/*
 * ページ
 * -------------------------------------------------------------------
 */
.top-about {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap-reverse;
      -ms-flex-wrap: wrap-reverse;
          flex-wrap: wrap-reverse;
  margin-top: 140px;
}
.top-about__text {
  width: 37.5%;
}
@media screen and (max-width: 768px) {
  .top-about__text {
    width: 100%;
  }
}
.top-about__heading {
  margin-bottom: 28px;
}
@media screen and (max-width: 520px) {
  .top-about__heading {
    margin-bottom: 24px;
  }
}
.top-about__desc {
  margin-bottom: 30px;
}
@media screen and (max-width: 520px) {
  .top-about__desc {
    font-size: 14px;
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 768px) {
  .top-about__link {
    padding: 0 20px;
  }
}
.top-about__image {
  width: 58.3333333%;
}
@media screen and (max-width: 768px) {
  .top-about__image {
    width: 100%;
    margin-bottom: 30px;
  }
}
.top-about__image img {
  border-radius: 15px;
}

.top-works {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 200px;
}
@media screen and (max-width: 520px) {
  .top-works {
    margin-top: 100px;
  }
}
.top-works__heading {
  margin-bottom: 30px;
}
@media screen and (max-width: 520px) {
  .top-works__heading {
    margin-bottom: 24px;
  }
}
.top-works__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.top-works__image {
  max-width: 31.25%;
}
.top-works__image img {
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  .top-works__image {
    max-width: 47.8515625%;
  }
  .top-works__image:last-child {
    display: none;
  }
}
.top-works__link {
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  .top-works__link {
    padding: 0 20px;
  }
}
.top-works__link .btn-01 {
  margin: 0 auto;
}

.top-blog {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 200px;
}
@media screen and (max-width: 520px) {
  .top-blog {
    margin-top: 100px;
  }
}
.top-blog__heading {
  margin-bottom: 30px;
}
@media screen and (max-width: 520px) {
  .top-blog__heading {
    margin-bottom: 24px;
  }
}
.top-blog__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.top-blog__image {
  max-width: 31.25%;
}
.top-blog__image img {
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  .top-blog__image {
    max-width: 47.8515625%;
  }
  .top-blog__image:last-child {
    display: none;
  }
}
.top-blog__link {
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  .top-blog__link {
    padding: 0 20px;
  }
}
.top-blog__link .btn-01 {
  margin: 0 auto;
}

.about {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 60px;
}
.about__inner {
  background-color: #F8F8F8;
  border-radius: 5px;
  padding: 0 20px 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .about__inner {
    padding: 0 20px 60px;
  }
}
.about__box {
  display: inline-block;
  max-width: 840px;
  width: 100%;
  margin-top: -26px;
}
@media screen and (max-width: 768px) {
  .about__box {
    margin-top: -21px;
  }
}
.about-me {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  margin-top: 50px;
  margin-bottom: 70px;
}
@media screen and (max-width: 768px) {
  .about-me {
    -webkit-flex-wrap: wrap-reverse;
        -ms-flex-wrap: wrap-reverse;
            flex-wrap: wrap-reverse;
  }
}
@media screen and (max-width: 520px) {
  .about-me {
    margin-bottom: 50px;
  }
}
.about-me__desc {
  width: 370px;
}
@media screen and (max-width: 768px) {
  .about-me__desc {
    width: 100%;
  }
}
.about-me__name {
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .about-me__name {
    margin-bottom: 20px;
  }
}
.about-me__name-sub {
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.13em;
  margin-bottom: 12px;
}
@media screen and (max-width: 520px) {
  .about-me__name-sub {
    font-size: 11px;
    margin-bottom: 16px;
  }
}
.about-me__name-main {
  font-size: 33px;
  font-weight: 700;
  letter-spacing: 0.11em;
  line-height: 1;
  font-family: "Roboto Mono", monospace;
}
@media screen and (max-width: 768px) {
  .about-me__name-main {
    font-size: 28px;
  }
}
.about-me__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10.8108108%;
}
.about-me__list p {
  line-height: 2.333333;
}
@media screen and (max-width: 520px) {
  .about-me__list p {
    font-size: 13px;
  }
}
.about-me__image {
  width: 45.2380952%;
}
@media screen and (max-width: 768px) {
  .about-me__image {
    width: 100%;
    margin-bottom: 30px;
  }
}
.about-me__image img {
  border-radius: 15px;
}
.about-text > p {
  margin-bottom: 15px;
}
@media screen and (max-width: 520px) {
  .about-text > p {
    font-size: 13px;
  }
}
.about-text > p:last-child {
  margin-bottom: 0;
}
.about-profile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 100px 0 70px;
}
@media screen and (max-width: 520px) {
  .about-profile {
    margin: 70px 0;
  }
}
.about-profile__box {
  width: 33.333333%;
}
@media screen and (max-width: 960px) {
  .about-profile__box {
    width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media screen and (max-width: 768px) {
  .about-profile__box {
    width: 100%;
  }
}
.about-profile__box > h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
  width: 100px;
}
@media screen and (max-width: 768px) {
  .about-profile__box > h3 {
    width: 33.333333%;
  }
}
@media screen and (max-width: 520px) {
  .about-profile__box > h3 {
    font-size: 13px;
  }
}
.about-profile__box > h3 > svg {
  margin-right: 8px;
  width: 16.5px;
  height: 16.925px;
}
@media screen and (max-width: 520px) {
  .about-profile__box > h3 > svg {
    width: 14.55px;
    height: 14.92px;
  }
}
@media screen and (max-width: 960px) {
  .about-profile__box > ul {
    padding-left: 6.37%;
  }
}
@media screen and (max-width: 768px) {
  .about-profile__box > ul {
    width: 66.666666%;
  }
}
.about-profile__box > ul > li {
  font-size: 14px;
  padding-left: 15px;
  position: relative;
}
@media screen and (max-width: 520px) {
  .about-profile__box > ul > li {
    font-size: 12px;
  }
}
.about-profile__box > ul > li::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  border-radius: 9999px;
  background: #000;
  left: 0;
  top: 12px;
}
.about-profile__box:nth-child(1) {
  padding: 0 3.572% 3.572% 0;
  background-image: -webkit-radial-gradient(#999999 30%, transparent 30%), -webkit-radial-gradient(#999999 30%, transparent 30%);
  background-image: radial-gradient(#999999 30%, transparent 30%), radial-gradient(#999999 30%, transparent 30%);
  background-size: 6px 6px;
  background-repeat: repeat-x, repeat-y;
  background-position: left bottom, right bottom;
}
@media screen and (max-width: 768px) {
  .about-profile__box:nth-child(1) {
    background-image: none;
    padding: 0 0 4.361% 0;
  }
}
.about-profile__box:nth-child(2) {
  padding: 0 3.572% 3.572%;
  background-image: -webkit-radial-gradient(#999999 30%, transparent 30%), -webkit-radial-gradient(#999999 30%, transparent 30%);
  background-image: radial-gradient(#999999 30%, transparent 30%), radial-gradient(#999999 30%, transparent 30%);
  background-size: 6px 6px;
  background-repeat: repeat-x, repeat-y;
  background-position: left bottom, right bottom;
}
@media screen and (max-width: 960px) {
  .about-profile__box:nth-child(2) {
    background-image: -webkit-radial-gradient(#999999 30%, transparent 30%);
    background-image: radial-gradient(#999999 30%, transparent 30%);
    background-size: 6px 6px;
    background-repeat: repeat-x;
    background-position: left bottom;
  }
}
@media screen and (max-width: 768px) {
  .about-profile__box:nth-child(2) {
    background-image: none;
    padding: 4.361% 0 4.361% 0;
  }
}
.about-profile__box:nth-child(3) {
  padding: 0 0 3.572% 3.572%;
  background-image: -webkit-radial-gradient(#999999 30%, transparent 30%);
  background-image: radial-gradient(#999999 30%, transparent 30%);
  background-size: 6px 6px;
  background-repeat: repeat-x;
  background-position: left bottom;
}
@media screen and (max-width: 960px) {
  .about-profile__box:nth-child(3) {
    padding: 3.572% 3.572% 3.572% 0;
    background-image: -webkit-radial-gradient(#999999 30%, transparent 30%), -webkit-radial-gradient(#999999 30%, transparent 30%);
    background-image: radial-gradient(#999999 30%, transparent 30%), radial-gradient(#999999 30%, transparent 30%);
    background-size: 6px 6px;
    background-repeat: repeat-x, repeat-y;
    background-position: left bottom, right bottom;
  }
}
@media screen and (max-width: 768px) {
  .about-profile__box:nth-child(3) {
    background-image: none;
    padding: 4.361% 0 4.361% 0;
  }
}
.about-profile__box:nth-child(4) {
  padding: 3.572% 3.572% 0 0;
  background-image: -webkit-radial-gradient(#999999 30%, transparent 30%);
  background-image: radial-gradient(#999999 30%, transparent 30%);
  background-size: 6px 6px;
  background-repeat: repeat-y;
  background-position: right bottom;
}
@media screen and (max-width: 960px) {
  .about-profile__box:nth-child(4) {
    padding: 3.572% 0 3.572% 3.572%;
    background-image: -webkit-radial-gradient(#999999 30%, transparent 30%);
    background-image: radial-gradient(#999999 30%, transparent 30%);
    background-size: 6px 6px;
    background-repeat: repeat-x;
    background-position: left bottom;
  }
}
@media screen and (max-width: 768px) {
  .about-profile__box:nth-child(4) {
    background-image: none;
    padding: 4.361% 0 4.361% 0;
  }
}
.about-profile__box:nth-child(5) {
  padding: 3.572% 3.572% 0;
  background-image: -webkit-radial-gradient(#999999 30%, transparent 30%);
  background-image: radial-gradient(#999999 30%, transparent 30%);
  background-size: 6px 6px;
  background-repeat: repeat-y;
  background-position: right bottom;
}
@media screen and (max-width: 960px) {
  .about-profile__box:nth-child(5) {
    padding: 3.572% 3.572% 0 0;
  }
}
@media screen and (max-width: 768px) {
  .about-profile__box:nth-child(5) {
    background-image: none;
    padding: 4.361% 0 0 0;
  }
}
.about-favo {
  padding-bottom: 80px;
  margin-bottom: 80px;
  border-bottom: 1px solid #000000;
}
@media screen and (max-width: 520px) {
  .about-favo {
    padding-bottom: 70px;
    margin-bottom: 70px;
  }
}
.about-favo__box {
  padding: 50px;
  border: 1px solid #999999;
}
@media screen and (max-width: 768px) {
  .about-favo__box {
    padding: 25px;
  }
}
.about-favo__box > p {
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .about-favo__box > p {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 520px) {
  .about-favo__box > p {
    font-size: 12px;
  }
}
.about-favo__box > p:last-child {
  margin-bottom: 0;
}
.about-skill {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  gap: 40px 0;
  margin: 60px 0 0;
}
@media screen and (max-width: 520px) {
  .about-skill {
    gap: 30px 0;
    margin: 40px 0 0;
  }
}
.about-skill__box {
  width: 25%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 960px) {
  .about-skill__box {
    width: 33.333333%;
  }
}
@media screen and (max-width: 520px) {
  .about-skill__box {
    width: 50%;
  }
}

.works {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 60px;
}
.works__inner {
  background-color: #F8F8F8;
  border-radius: 5px;
  padding: 0 20px 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .works__inner {
    padding: 0 20px 60px;
  }
}
.works__box {
  display: inline-block;
  max-width: 840px;
  width: 100%;
  margin-top: -26px;
}
@media screen and (max-width: 768px) {
  .works__box {
    margin-top: -21px;
  }
}/*# sourceMappingURL=style.css.map */