.btn-01{
    display: block;
    font-size: 1.4rem;
    padding: 12px 40px;
    max-width: 220px;
    border: 2px solid $color_black;
    line-height: 1;
    text-align: center;
    border-radius: 22px;
    position: relative;
    overflow: hidden;
    @include responsive("tb") {
        max-width: 100%;
    }
    @include responsive("smp") {
        font-size: 1.3rem;
    }
    &::after{
        content: "";
        border-radius: 22px;
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $color_gray;
        opacity: .2;
        transform: translate3d(-100%, 0, 0);
        transition: -webkit-transform .4s cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: transform .4s cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: transform .4s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform .4s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    &:hover::after{
        transform: translate3d(0, 0, 0);
    }
    &:active::after{
        transform: translate3d(0, 0, 0);
    }
    &__arrow{
        width: 19px;
        height: 9px;
        position: absolute;
        top: calc(50% - 4.5px);
        right: 16px;
        background: url(../img/base/arrow-01.svg) no-repeat 100% 50%;
        background-size: auto 100%;
    }
}

.btn-02{
    display: block;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 22px 0;
    max-width: 370px;
    border: 2px solid $color_black;
    background-color: $color_white;
    line-height: 1;
    text-align: center;
    border-radius: 10px;
    position: relative;
    margin: 0 auto;
    @include transition();
    &:hover{
        box-shadow: 0px 8px 16px -2px rgba(10,10,10,0.1), 0px 3px 6px 3px rgba(0,0,0,0.08);
    }
    &:active{
        box-shadow: 0px 8px 16px -2px rgba(10,10,10,0.1), 0px 3px 6px 3px rgba(0,0,0,0.08);
    }
    @include responsive("tb") {
        max-width: 350px;
        font-size: 1.3rem;
        padding: 15px 0;
    }
}