.chart {
    position: relative;
    display: inline-block;
    width: 160px;
    height: 160px;
    text-align: center;
    @include responsive("tb") {
        width: 130px;
        height: 130px;
    }
    @include responsive("smp") {
        width: 110px;
        height: 110px;
    }
    &-back{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border: 6px solid #CDCDCD;
        border-radius: 50%;
        @include responsive("smp") {
            border: 3px solid #CDCDCD;
        }
    }
    & canvas{
        position: absolute;
        top: 0;
        left: 0;
    }
    &-label{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        & svg{
            height: 27px;
            margin-bottom: 8px;
            @include responsive("tb") {
                height: 24px;
                margin-bottom: 6px;
            }
            @include responsive("smp") {
                height: 20px;
            }
        }
        & span{
            font-size: 12px;
            font-weight: 700;
            @include responsive("smp") {
                font-size: 11px;
            }
        }
    }
}