.contact{
    @include container();
    margin-top: 200px;
    @include responsive("smp") {
        margin-top: 120px;
    }
    &__inner{
        background-color: $color_gray_light;
        padding: 80px 20px 70px;
        border-radius: 15px;
        position: relative;
        @include responsive("tb") {
            padding: 50px 20px;
        }
    }
    &__heading{
        font-size: 52px;
        font-weight: 600;
        letter-spacing: 0.13em;
        font-family: 'Josefin Sans', sans-serif;
        position: absolute;
        top: -16%;
        left: 50%;
        transform: translateX(-50%);
        @include responsive("tb") {
            font-size: 43px;
            top: -19%;
        }
    }
    &__btn{
        margin-bottom: 40px;
    }
    &__text{
        text-align: center;
        font-size: 1.6rem;
        font-weight: 700;
        @include responsive("tb") {
            font-size: 1.2rem;
        }
    }
}