.header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: $z-index_header;
    width: 100%;
    &__container{
        height: 80px;
        @include container();
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        @include responsive("pc") {
            height: 60px;
        }
    }
    &__logo{
        & svg{
            width: 153px;
            height: 23px
        }
    }
    & #header-nav{
        @include responsive("pc") {
            display: none;
            background-color: $color_gray_light;          
            max-width: calc(100vw - 40px);
            width: 100%;  
            position: absolute;
            top: 120px;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            z-index: $z-index_header_drawer;
            height: auto;
            overflow: scroll;
            max-height: 100vh;
            padding: 30px 0;
            overflow: hidden;

        }
        &>ul{
            display: flex;
            justify-content: start;
            margin: auto;
            height: 100%;
            @include responsive("pc") {
                display: block;
                padding: 0;
                width: 100%;
                overflow: hidden;
                -webkit-overflow-scrolling: touch;
            }
            &>li{
                display: flex;
                align-items: center;
                height: 100%;
                padding: 15px 15px 15px 15px;
                &:last-child{
                    padding: 15px 0 15px 15px;
                    @include responsive("pc") {
                        padding: 0;
                    }
                }
                @include responsive("pc") {
                    width: 100%;
                    padding: 0;
                }
                &>a{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 40px;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 1;
                    color: $color_white;
                    font-family: 'Roboto Mono', monospace;
                    letter-spacing: .15em;
                    @include transition();
                    @include responsive("pc") {
                        height: auto;
                        display: block;
                        width: 100%;
                        font-size: 15px;
                        line-height: 1.2;
                        padding: 15px 0;
                        color: $color_black;
                    }
                    &:hover{
                        opacity: .4;
                    }
                    &:active{
                        opacity: .4;
                    }
                }
            }
        }
    }
    & #header-toggle{
        display: none;
        @include responsive("pc") {
            display: block;
        }
        position: relative;
        width: 26px;
        height: 24px;
        z-index: $z-index_header_drawer;
        & span{
            display: block;
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #fff;
            border-radius: 4px;
            @include transition();
            &:nth-child(1){
                top: 0;
            }
            &:nth-child(2){
                top: 50%;
                transform: translateY(-50%);
            }
            &:nth-child(3){
                bottom: 0;
            }
        }
        &.act span{
            &:nth-child(1){
                transform: translateY(11px) rotate(-45deg);
            }
            &:nth-child(2){
                display: none;
            }
            &:nth-child(3){
                transform: translateY(-11px) rotate(45deg);
            }
        }
    }
    & #header-bg{
        display: none;
        opacity: 0.5;
        z-index: $z-index_header_bg;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
    }
}