#hero{
    @include container("hero");
    max-height: calc(100vh - 60px);
    min-height: calc(100vh - 60px);
    & .bx-wrapper{
        width: 100%;
        height: calc(100vh - 60px);
        position: absolute;
        top: 0;
        left: 0;
        & .bx-viewport{
            width: 100% !important;
            height: 100% !important;
            overflow: hidden;
            position: relative;
            & .bg-slide{
                width: 100% !important;
                height: 100% !important;
                &>li{
                    width: 100% !important;
                    height: 100% !important;
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            }
        }
    }
}