// フォント
$base_font_size: 1.5rem;
$base_line_height: 2;
$base_letter_spacing: .08em;


// コンテンツ幅
$content_width: 1000px;

// ヘッダーの高さ
$header_height: 8rem;

// z-indexの管理
$z-index_header_drawer: 1002;
$z-index_hero_sns: 998;

// カラーコード
$color_white: #ffffff;
$color_black: #000000;
$color_gray: #999999;
$color_gray_light: #F8F8F8;