/*
 * HTML
 * -------------------------------------------------------------------
 */
html {
    font-size: 62.5%;
}
body {
    font-family: 'M PLUS 1', sans-serif;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: $base_font_size;
    font-weight: 400;
    line-height: $base_line_height;
    letter-spacing: $base_letter_spacing;
    background-color: $color_white;
    color: $color_black;
    position: relative;
}
a {
    text-decoration: none;
    outline: none;
}