// container
@mixin container($type: "default") {
    @if $type == "default" {
        max-width: $content_width;
        margin: 0 auto;
    } @else if $type == "hero" {
        width: 100%;
        margin: 0 auto;
        position: relative;
    }
}